#container{
    width: 980px;
    height: auto;
    margin: 0 auto;
}
.cont1{
    width: 980px;
    height: 90px;
    background: url("../img/1342430358.jpg");
    float: left;
    margin-top: 10px;
}
.cont2{
    width: 980px;
    height: 480px;
    float: left;
    margin-top: 10px;
}
.cont2 .lcont2{
    width: 210px;
    height: auto;
    float: left;
    margin-bottom: 15px;
}
.cont2 .rcont2{
    width: 755px;
    height: 480px;
    background: white;
    float: left;
    margin-left: 15px;
}

.cont2 .ltitle {
    width: 194px;
    height: 32px;
    color: white;
    font-size: 14px;
    line-height: 32px;
    padding-left: 16px;
    background: #017dcc /*url("../img/dt-5.gif") repeat-x*/;
    border-radius: 5px 5px 0 0;
    float: left;
}

.list {
    width: 178px;
    float: left;
    background: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

 .list ul li {
    list-style: none;
    height: 30px;
    line-height: 30px;
    background: url("../img/dt-11.gif") no-repeat 0 14px;
}

.list ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #333333;
    margin-left: 10px;
}

.cont2 .list p {
    font-size: 12px;
    color: #333333;
    margin-left: 10px;
    line-height: 32px;
}

/*----------右开始*/
.cont2 .rcont2 .title {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid gainsboro;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    /*float: left;*/
}
.list2{
    width: 723px;
    float: left;
    background: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list2 ul li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    background: url("../img/dt-0.gif") no-repeat 0 14px;
}

.list2 ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #333333;
    margin-left: 10px;
}
span {
    float: right;
    font-size: 12px;
}

.cont2 .rcont2 .title span a {
    color: #013d97;
}

.cont2 .rcont2 p {
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.cont2 .rcont2 h5 {
    padding-left: 16px;
}
