#main{
    width: 980px;
    height: 630px;
    margin: 0 auto;
    background: gainsboro;
}
.leftz{
    width: 700px;
    height: 630px;
    background: white;
    border: 1px solid darkgray;
    float: left;
}
.righty{
    width: 450px;
    float: left;
}
.righty .tongyi{
    width:300px;
    font-size: 10px;
    margin-left:120px;
}
.regBtn{
    margin-left:120px;
    margin-top: 20px;
}
.list{
    width: 450px;
    height: 37px;
    margin-left: 125px;
    margin-top: 50px;
}
/*********注册导航是图片**********/
.list ul{
    background: url("../img/regtab.jpg");
}
.list ul li{
    width: 148px;
    height: 35px;
    border: 1px solid darkgray;
    list-style: none;
    text-align: center;
    line-height: 35px;
    float: left;
}
.list ul li:hover{
     background: #1e71b1;
    color: white;
}
.list .yuanjiao1{
    border-radius: 3px 0 0 3px;
}
.list .yuanjiao2{
    border-radius: 0  3px 3px 0;
}
.list ul li a{
    text-decoration: none;
    color:#000;
    font-size: 14px;
    width: 148px;
    height: 35px;
    display: block;
}
.list ul li a:hover{
    color: white;
    font-weight: bold;
}
/*开始*/
.biaodan{
    width: 450px;
    height: auto;
    float: left;
    margin-left:125px;
    margin-top: 15px;
}
/*.KK{
    margin-bottom: 20px;
}*/

.ss{
    width: 450px;
    height: 30px;
    vertical-align: middle;
}
.zuo{
    width: 100px;
    height: 25px;
    line-height: 25px;
    float: left;
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
}
.zuo span{
    color: red;
    margin-right:5px;
}
.sj{
    width: 220px;
    height: 20px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    float: left;
    background: url(../img/glb_v2.png) no-repeat -68px -285px;
}
.xz{
    width: 450px;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: gray;
    padding-left: 120px;
    float: left;
}
/*二*/
.youm{
    width: 330px;
    float: left;
}
.yz{
     width: 200px;
    height: 70px;
     float: left;
 }
.yy{
    width: 130px;
    height: 70px;
    float: left;
}
.z1{
    width: 200px;
    height: 55px;
    float: left;
}
.tup{
    width: 190px;
    height: 20px;
    border-radius: 5px;
    float: left;
}
.xia1{
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: gray;
    float: left;
    margin-top: 28px;
}
.yous{
    width: 130px;
    height:50px;
    float: left;
}
/******验证码图片********/
.yous img{
    border:0;
    width: 130px;
    height:40px;
}
.youx{
    width: 130px;
    height:20px;
    float: left;
}

.youx a{
    text-decoration: none;
    font-size: 12px;
}
/*disan*/
.d3{
    width: 450px;
    float: left;
    margin-left: 125px;
    margin-top: 5px;
}
.d3 input{
    width: 145px;
    height: 30px;
}
.ddd{
    width: 450px;
    float: left;
    margin-left: 125px;
    margin-top: 15px;
}
.btnReg {
    width: 119px;
    height: 37px;
    font-size: 14px;
    background-position: 0 -360px;
    text-decoration: none;
    line-height: 37px;
    color: #FFF;
    outline: none;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/glb_v2.png);
    background-repeat: no-repeat;
    margin-left: 120px;
    margin-top: 15px;
}
.dd{
    width: 325px;
    height: 20px;
    border-radius: 5px;
    float: left;
}
/*******右边********/
.rightz{
    width:278px;
    height:630px;
    float: left;
    background: #f5f5f5;
}
 .rightz img{
     position: absolute;
     margin-top: 130px;
     margin-left: 20px;
 }