#container{
    width: 980px;
    height: auto;
    margin: 0 auto;
}
.banner{
    width: 980px;
    height: 245px;
    background: url("../img/1342429839.jpg");
    margin-top: 10px;
    float: left;
}
.banner div{
    width: 100px;
    height: 15px;
    position: absolute;
    z-index: 1;
    margin-top: 215px;
    margin-left: 850px;
}
.banner div ul li{
    width: 15px;
    height: 15px;
    background:#ffcc00;
    margin-left: 10px;
    float: left;
    list-style: none;
}
.banner div ul li:hover{
    background:#00cc33;
}
.cont1{
    width: 980px;
    height: 277px;
    margin-top: 10px;
    float: left;
}
.cont1 .zuo1{
    width: 675px;
    height: 277px;
    float: left;
}
.title{
    width: auto;
    height: 32px;
}
.title .ydi{
    width: 106px;
    height: 32px;
    color: white;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    background: url("../img/dt-5.gif") repeat-x;
    border-radius:5px 5px 0 0;
    float: left;
}
.title .more{
    width: 50px;
    height: 32px;
    float: right;
}
.title img{
    width: 39px;
    height: 11px;
    line-height: 32px;
    padding-top: 10px;
    border: 0;
}
.content{
    width: 639px;
    height: 209px;
    background: white;
    padding: 18px;
}
.content .ztuo{
    width: 196px;
    height: 209px;
    float: left;
    border: 0;
}
.pic{
    width: 196px;
    height: 209px;
    float: left;
}
.content .wenzi{
    width: 433px;
    height: 200px;
    float: right;
    margin-left: 10px;
    padding-top: 9px;
}
.content .wenzi .ws{
    width: 433px;
    height: auto;
}
h3 a{
    margin-top: 10px;
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
a:hover{
    color: #007ac7;
}
p a{
    color: #333333;
    text-decoration: none;
    font-size: 12px;
}
.wx{
    margin-top: 20px;
    width: 433px;
    height: auto;
}
.cont1 .you1{
    width: 290px;
    height: 277px;
    float: left;
    margin-left: 15px;
}
.rtitle{
    width: 258px;
    height: 32px;
    color: white;
    font-size: 14px;
    line-height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    background: #017dcc;
    border-radius:5px 5px 0 0;
    float: left;
}
span {
    line-height: 32px;
    float: right;
}
span a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}
span a:hover{
    color: white;
    text-decoration: underline;
}
.rcontent{
    width: 258px;
    height: 205px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    background: white;
}
.rcontent ul li{
    list-style: none;
    height: 80px;
    padding-bottom: 15px;
    border-bottom: 1px dashed gray;
    margin-top: 15px;
}
.rcontent ul li img {
    width: 116px;
    height: 80px;
    border: 0;
    float: left;
}
.rcontent ul li div{
    width: 132px;
    height: 80px;
    float: right;
}
.rcontent ul li div h4{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
.rcontent ul li div p{
    font-size: 12px;
    color: #333333;
}
/*第二部分开始*/
.cont2{
    width: 980px;
    height: 352px;
    float: left;
    margin-top: 10px;
}
.cont2 ul li{
    list-style: none;
    background: url("../img/dt-1.gif") no-repeat 0 14px;
}
.cont2 ul li div{
    width: 330px;
    height: 352px;
    float: left;
    margin-right: 15px;
}
.cont2 .title{
    width: 330px;
    height: 32px;
    float: left;
}
.cont2 .list{
    width: 298px;
    height: 310px;
    float: left;
    background: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;

}
.cont2 .list ul li{
    list-style: none;
    height: 30px;
    line-height: 30px;
}
.cont2  ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #333333;
    margin-left: 10px;
}
.cont2  ul li span{
    font-size: 12px;
    color: #333333;
    float: right;
    line-height: 30px;
}
.cont2 .rlist{
    width: 258px;
    height: 310px;
    float: left;
    background: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
}
.cont2 .rlist ul li{
    list-style: none;
    height: 30px;
    line-height: 30px;
}

/*第二部分结束*/
/*第三部分开始*/
.cont3{
    width: 980px;
    height: 209px;
    background:white;
    float: left;
    margin-top: 10px;
}
.cont3 .rtitle{
    width: 948px;
    }
.yuan{
    width: 103px;
    height: 10px;
    margin-top: 10px;
    float: left;
}
.yuan ul li{
    list-style: none;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background:#9df0f5;
    margin-left: 3px;
}
.yuan ul li:hover{
    background: white;
}
.cont3 .rtitle img{
    float: left;
}
.cont3 .lunbo{
    float: left;
}
.lunbo ul li{
    width: 160px;
    height: 130px;
    list-style: none;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    text-align: center;
}
.lunbo .cp{
    text-decoration: none;
    color: #333333;
    text-align: center;
   line-height: 30px;
}
.lunbo .cp:hover{
    color: #007bc8;
}
/*第三部分结束*/
/*第四部分*/
.cont4{
    width: 948px;
    height: 78px;
    background: white;
    margin-top: 10px;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
}
.cont4 ul li{
    list-style: none;
    width: 948px;
    height: 39px;
    line-height: 39px;
    border-bottom: 1px dashed #4b4b4b;
}
.cont4 ul .w{
    border: 0;
}
.cont4 ul li a{
    text-decoration: none;
    color: #4b4b4b;
    font-size: 12px;
    line-height: 39px;
}
.cont4 ul li a:hover{
    color: #0f4e7f;
}
.cont4 ul li .gd{
    float: right;
}
.cont4 ul .biao{
    background: url("../img/dt-2.gif") no-repeat 0 13px;
}
