/*----------------------------公用---------------------------------------*/
* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background: #e5e5e5;
}
li {
    list-style: none outside none;
}
/*----------------------------公用结束---------------------------------------*/
#main{
    width: 960px;
    height: auto;
    margin: 0 auto;
}
.header{
    width: 960px;
    height: 149px;
    background: url("../img/banner.png") no-repeat;
}
/*-------导航开始---------*/
.menu{
    width: 960px;
    height: 33px;
    background: url("../img/nav_bg.gif") repeat-x;
    margin-top: 1px;
}
.riqi{
    width: 200px;
    height: 33px;
    line-height: 33px;
    display: block;
    font-size: 14px;
    color: #ffffff;
    float: left;
    text-align: center;
}
.menu ul{
    width: 760px;
    float: left;
}
.menu ul li{
    width: 80px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    display: block;
    float: left;
    background: url("../img/nav_line.gif") right no-repeat;
}
.menu ul li a{
    text-decoration: none;
    color: #ffffff;
}
.menu ul li a:hover{
    text-decoration: underline;
    color: #ffffff;
}
/*----------内容开始----------------*/
.container{
    width: 960px;
    height: 800px;
    margin-top: 3px;
    background: #ffffff;
}
.leftnav{
    width: 195px;
    height: 702px;
    background: ghostwhite;
    float: left;
}
.lefttop{
    width: 204px;
    height: 237px;
}
.tupian{
    width: 192px;
    height: 192px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
}
 .xiaotu{
    height: 15px;
    width: 51px;
    margin-left: 135px;
    margin-top: 170px;
    position: absolute;
    z-index: 1;
}
.xiaotu li{
    width: 15px;
    height: 15px;
    float: left;
    margin-left: 1px;
    line-height: 14px;
    text-align: center;
    background: #fff;
    cursor: pointer;
    border-radius: 30px;
    display: block;
}
.xiaotu li:hover{
    background: red;
    color: #ffffff;
}

.xbsp{
    width: 204px;
    height: 40px;
    background: url("../img/wenjuan.png") center no-repeat;
}
.leftbom{
    width: 194px;
    height: 465px;
    margin: 0 auto;
}
.djjr{
    width: 204px;
    height: 37px;
}
.leftbom ul {
    width: 197px;
    height: 370px;
}
.leftbom ul li{
    text-decoration: none;
    height: 34px;
    border: 1px solid #D2E1F1;
    margin: 2px;
    background: #EDF2F8;;
}
.leftbom ul li img{
    float: left;
    width: 35px;
    height: 30px;
}
.leftbom ul li div{
    width: 142px;
    height: 34px;
    padding-left: 10px;
    line-height: 34px;
    float: left;
}
.leftbom ul li div a{
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

.leftbom ul li div a:hover {
    text-decoration: underline;
    color: red;
}
.kefu{
    width: 196px;
    height: 42px;
    background: url("../img/ico_tltel.gif") no-repeat;
    margin-top: 10px;
}
/*中间开始*/
.cont{
    width: 560px;
    height: 702px;
    float: left;
    margin-left: 6px;
}
.cont .xwdt{
    width: 560px;
    height: 244px;
    border: 1px solid #e4e4e4;
}
.cont .xwdt .biaoti{
    color: red;
    font-weight: bold;
    font-size: 12px;
    width: 562px;
    height: 34px;
    background:url("../img/icon_zx.png") no-repeat;
}
.cont .sz{
    width: 552px;
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    color: blue;
    padding-left: 10px;
}
.cont .sz a{
    color: red;
    text-decoration: underline;
}
.cont .zx{
    width: 542px;
    height: 184px;
    padding-left: 10px;
    padding-right: 10px;
}
.cont .zx ul li{
    font-size: 12px;
    line-height: 22px;
    border-bottom: 1px dashed gray;
}
.cont .zx ul li a{
    list-style: none;
    text-decoration: none;
    color: #000000;
}
.cont .zx ul li a:hover{
    color: red;
    text-decoration: underline;
}
.cont .zx ul li span{
    float: right;
    color: gray;
}

.gd {
    float: right;
    color: #000000;
    border-bottom: 0;
}
.cont.xiam{

}
/*下面部分*/
.cont .xiam{
    width: 562px;
    height: 451px;
    margin-top: 5px;
    }

.cont .xiam .qwss {
    width: 460px;
    height: 34px;
    padding-left: 50px;
    padding-right: 50px;
    background: url("../img/search_bg1_1.gif") repeat-x;
}

.qwss span {
    font-size: 12px;
    font-weight: bold;
    float: left;
    margin-right: 15px;
    line-height: 34px;
}

.qwss .kuang {
    width: 310px;
    height: 20px;
    margin-top: 6px;
    border: 1px solid gainsboro;
}

.shousuo {
    width: 76px;
    height: 25px;
    margin-top: 5px;
    border: 0;
    float: right;
    background: url("../img/shou.png") no-repeat;
}

.ypdt {
    width: 560px;
    height: 58px;
    margin-top: 5px;
}

ul li img {
    width: 278px;
    height: 56px;
    border: 0;
}

ul li .zuotu {
    display: block;
    width: 278px;
    height: 56px;
    float: left;
    margin-right: 2px;
}

ul li .yuotu {
    display: block;
    float: left;
    width: 280px;
    height: 56px;
}

.hy {
    width: 560px;
    height: 31px;
    line-height: 30px;
    background: #f3f3f3;
    border-bottom: 1px solid #e4e4e4;
}

.hy li {
    text-decoration: none;
    display: inline;
    float: left;
    width: 128px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    color: #333;
}

.hy li:hover {
    background: #ffffff;
    border-top: 2px solid orangered;
    width: 128px;
    height: 29px;
}

/*.leibiao {
    width: 560px;
    height: 322px;
}

.leibiao li {
    border-bottom: 1px dashed #f7f7f7;
    height: 24px;
    padding-left: 15px;
}

.leibiao li a {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}

.leibiao li a:hover {
    color: red;
    text-decoration: underline;
}*/


th{
    font-size: 12px;
    height: 26px;
    text-align: left;
    padding: 0 10px;
    border: 1px solid #f3f3f3;
    font-weight: 400;
    width: 72px;
    border-collapse: collapse;
}
.shang{
    background: #f3f3f3;
}
.xia{
    background: none;
}
.xia .you{
    text-align: right;
}
table a{
    color: #0080ff;
    text-align: right;
    text-decoration: none;
}

.hong{
   color: red;
    text-align: center;
}
.lan{
    color: #0080ff;
}
/*中间结束*/
.rigthnav{
    width: 188px;
    height: 702px;
    float: left;
    margin-left: 6px;
}
.lunbo {
    width: 188px;
    height: 194px;
    background: url("../img/tupian4.jpg") no-repeat;
}
.unbo .xiao li{
    margin-top: 150px;
    margin-left: 150px;
}
.wyfh {
    width: 188px;
    height: 95px;
    background: url("../img/ico_hy009.gif") no-repeat;
}

.hwky {
    width: 188px;
    height: 57px;
    background: url("../img/ico_hy010.gif") no-repeat;
}

.zh {
    width: 188px;
    height: 112px;
    background: #EDF2F8;
}

.zh ul li {
    width: 188px;
    line-height: 34px;
    border: 1px solid  #D2E1F1;
    font-size: 12px;
    margin: 2px 0;
}

.zh ul li img {
    width:30px;
    height:30px;
    float: left;
    line-height: 34px;
    margin-top: 2px;
}

.zh ul li a {
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

.zh ul li a:hover {
    color: red;
    text-decoration: underline;
}

.xglj {
    width: 188px;
    height: 233px;
    margin-top: 2px;
    background: url("../img/ico_link002.gif") repeat-y;
}

.xglj .bj {
    width: 188px;
    height: 30px;
    background: url("../img/ico_link001.gif") no-repeat;
}

.xglj ul {
    width: 180px;
    height: 194px;
    overflow-x: hidden;
    overflow-y: auto;
}

.xglj ul {
    margin-left: 5px;
}

.xglj ul li a {
    color: #000000;
    TEXT-DECORATION: none;
    font-size: 12px;
}

.xglj ul li a:hover {
    color: red;
    text-decoration: underline;
}

.xiabj {
    width: 188px;
    height: 9px;
    background: url("../img/you di.png") no-repeat;
}
/*内容结束*/
/*底部开始*/
.footer{
    width: 960px;
    height: 75px;
    float: left;
    padding-top: 30px;
    border-top: 3px solid blue;
    margin-top: 10px;
    border-bottom: 1px solid black;

}
.footer p{
    font-size: 12px;
    text-align: center;
}
.footer p a{
    text-decoration: none;
    color: #000000;
}
.footer p a:hover{
    color: red;
    text-decoration: underline;
}