/*----------------------------公用---------------------------------------*/
* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background: #e5e5e5;
}
li {
    list-style: none outside none;
}
/*----------------------------公用结束---------------------------------------*/
#main{
    width: 960px;
    height: 1500px;
    background: greenyellow;
    margin: 0 auto;
}
.header{
    width: 960px;
    height: 149px;
    background: red url("../img/banner.png") no-repeat;
}
/*-------导航开始---------*/
.menu{
    width: 960px;
    height: 33px;
    background: blue;
}
.riqi{
    width: 200px;
    height: 33px;
    line-height: 33px;
    display: block;
    font-size: 14px;
    color: #ffffff;
    float: left;
    text-align: center;
}
.menu ul{
    width: 760px;
    float: left;
}
.menu ul li{
    width: 80px;
    height: 33px;
    line-height: 33px;
        font-size: 14px;
    color: #ffffff;
    display: inline;
    margin-left: 20px;

}
.menu ul li a{
    text-decoration: none;
    color: #ffffff;
}
.menu ul li a:hover{
    text-decoration: underline;
    color: #ffffff;
}
/*----------内容开始----------------*/
.container{
    width: 960px;
    height: 800px;
    background: gold;
    margin-top: 3px;
}
.leftnav{
    width: 195px;
    height: 702px;
    background: ghostwhite;
    float: left;
}
.lefttop{
    width: 204px;
    height: 237px;
    background: yellowgreen;
}
.tupian{
    width: 192px;
    height: 192px;
    background: red url("../img/tupian1.jpg") no-repeat;
    margin: 0 auto;
}
.xbsp{
    width: 204px;
    height: 40px;
    background: url("../img/wenjuan.png") center no-repeat;
}
.leftbom{
    width: 194px;
    height: 465px;
    background: yellow;
    margin: 0 auto;
}
.djjr{
    width: 204px;
    height: 37px;
}
.leftbom ul {
    width: 197px;
    height: 370px;
    background: red;
}
.leftbom ul li{
    text-decoration: none;
    height: 34px;
    border: 1px solid #D2E1F1;
    margin: 2px;
    background: #EDF2F8;;
}
.leftbom ul li img{
    float: left;
    width: 35px;
    height: 30px;
}
.leftbom ul li div{
    width: 142px;
    height: 34px;
    padding-left: 10px;
    line-height: 34px;
    float: left;
}
.leftbom ul li div a{

    font-size: 14px;
    color: #000000;
}
.kefu{
    width: 196px;
    height: 42px;
    background: red url("../img/ico_tltel.gif") no-repeat;
}
/*中间开始*/
.cont{
    width: 560px;
    height: 702px;
    background: fuchsia;
    float: left;
    margin-left: 6px;
}
.cont .xwdt{
    width: 560px;
    height: 244px;
    border: 1px solid #e4e4e4;
    background: lightblue;
}
.cont .xwdt .biaoti{
    color: red;
    font-weight: bold;
    font-size: 12px;
    width: 562px;
    height: 34px;
    background: red url("../img/icon_zx.png") no-repeat;
}
.cont .sz{
    width: 552px;
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    color: blue;
    background:burlywood;
    padding-left: 10px;
}
.cont .sz a{
    color: red;
    text-decoration: underline;
}
.cont .zx{
    width: 542px;
    height: 184px;
    padding-left: 10px;
    padding-right: 10px;
}
.cont .zx ul li{
    font-size: 12px;
    line-height: 22px;
    border-bottom: 1px dashed gray;
}
.cont .zx ul li a{
    list-style: none;
    text-decoration: none;
    color: #000000;
}
.cont .zx ul li a:hover{
    color: red;
    text-decoration: underline;
}
.cont .zx ul li span{
    float: right;
    color: gray;
}
.cont .zx ul .gd{
    float: right;
    color: #000000;
    border: none;
}
.cont.xiam{

}
/*下面部分*/
.cont .xiam{
    width: 562px;
    height: 451px;
    background: tan;
    margin-top: 5px;
    }
/*中间结束*/
.rigthnav{
    width: 188px;
    height: 702px;
    background: steelblue;
    float: left;
    margin-left: 6px;
}
/*内容结束*/
/*底部开始*/
.footer{
    width: 960px;
    height: 75px;
    background: springgreen;
    float: left;
    padding-top: 45px;
}
.footer p{
    font-size: 12px;
    text-align: center;
}
.footer p a{
    text-decoration: none;
    color: #000000;
}
.footer p a:hover{
    color: red;
    text-decoration: underline;
}