* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

#main {
    margin: 0 auto;
    width: 100%;
    height: 1384px;
}

.header {
    width: 100%;
    height: 76px;
}
.header .ys{
    width: 100%;
    height: 5px;
    background: #666666;
}
.header .topzj{
    width: 1000px;
    height: 71px;
    margin: 0 auto;
}
.header .topzj img{
    float: left;
}
.header .topzj .lianxi{
    width:260px;
    height:56px;
    float: right;
    padding-top: 15px;
}
.header .topzj .lianxi p{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.header .topzj .lianxi p span{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
.nav{
    width: 100%;
    height: 55px;
}

.navs {
    width: 100%;
    height: 31px;
    background: url("../images/daohang.png") repeat-x;
    float: left;
}

.navs .zj {
    width: 1000px;
    height: 31px;
    margin: 0 auto;
}

.navs ul li {
    width: 90px;
    height: 31px;
    float: left;
    text-align: left;
    list-style: none;
    line-height: 31px;
    margin-left: 30px;
}

.navs ul li a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

.navs ul li span {
    float: right;
    color: #ffffff;
}

/*导航下开始*/
.navx {
    width: 100%;
    height: 24px;
    background: #c5e4ff;
    float: left;
}

.navx .navxj {
    width: 868px;
    height: 24px;
    margin: 0 auto;
    padding-left: 132px;
}

.navx ul li {
    width: 83px;
    height: 24px;
    line-height: 24px;
    float: left;
    text-align: left;
    list-style: none;
    background: url("../images/icon_12.png") no-repeat left center;
    padding-left: 8px;
}
.navx .navxj ul li a {
    text-decoration: none;
    text-align: center;
    color: #005ea8;
    font-size: 12px;
}

/*.navx .navxj ul li img{
    line-height: 24px;
}*/
/*导航下结束*/
.banner {
    width: 100%;
    height: 216px;
    background: #005ea8;
}

.banner .banner_zj {
    width: 1000px;
    height: 216px;
    background: url("../images/icon_16.png") no-repeat;
    margin: 0 auto;
}

/*中间开始*/
.container {
    width: 100%;
    height: 939px;
}

.container .container_zj {
    width: 1000px;
    height: 939px;
    margin: 0 auto;
}

/*左开始*/
.container .container_zou {
    width: 230px;
    height: 917px;
    float: left;
}

/*左上开始*/
.container .container_zou .zuo1 {
    width: 230px;
    height: 443px;
    float: left;
}

.container .container_zou .zuo1 .tup1 {
    width: 230px;
    height: 63px;
    background: url("../images/icon_19.png") no-repeat;
    float: left;
}

.container .container_zou .zuo1 .liebiao {
    width: 230px;
    height: 380px;
    background: #e4f3ff;
    float: left;
}

.container .container_zou .zuo1 .liebiao ul li {
    width: 166px;
    height: 38px;
    border-bottom: 1px dashed #012e66;
    line-height: 38px;
    list-style: none;
    display: block;
    background: url("../images/icon_27.png") no-repeat left center;
    padding-left: 17px;
    margin-left: 30px;
}

.container .container_zou .zuo1 .liebiao ul li a {
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    color: #012e66;
}

/*左上结束*/
/*左中开始*/
.container .container_zou .zuo2 {
    width: 230px;
    height: 192px;
    background: darkcyan;
    float: left;
}

.container .container_zou .zuo2 .tup1 {
    width: 230px;
    height: 37px;
    background: url("../images/icon_46.png") no-repeat;
    float: left;
}

.container .container_zou .zuo2 .liebiao {
    width: 230px;
    height: 155px;
    background: #e4f3ff;
    float: left;
}

.container .container_zou .zuo2 .liebiao ul li {
    width: 166px;
    height: 38px;
    border-bottom: 1px dashed #012e66;
    line-height: 38px;
    list-style: none;
    display: block;
    background: url("../images/icon_59.png") no-repeat left center;
    padding-left: 17px;
    margin-left: 30px;
}

.container .container_zou .zuo2 .liebiao ul li a {
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    color: #012e66;
}

/*左中结束*/
/*左下开始*/
.container .container_zou .zuo3 {
    width: 230px;
    height: 286px;
    background: lemonchiffon;
    float: left;
}

.container .container_zou .zuo3 .tup1 {
    width: 230px;
    height: 37px;
    background: url("../images/icon_66.png") no-repeat;
    float: left;
}

.container .container_zou .zuo3 .liebiao {
    width: 230px;
    height: 249px;
    background: #e4f3ff url("../images/icon_73.png") no-repeat right bottom;
    float: left;
}

.container .container_zou .zuo3 .liebiao ul li {
    width: 196px;
    border-bottom: 1px dashed #012e66;
    line-height: 25px;
    list-style: none;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 12px;
    font-size: 12px;
    text-align: left;
    color: #012e66;
}

.container .container_zou .zuo3 .liebiao ul li span {
    font-weight: bold;
}

/*左下结束*/
/*左结束*/
/*右开始*/
.container .container_you {
    width: 734px;
    height: 917px;
    float: right;
}

.container .container_you .you1 {
    width: 734px;
    height: 236px;
    float: left;
}

.container .container_you .you1s {
    width: 734px;
    height: 45px;
    float: left;
    border-bottom: 1px solid #005ea8;
    background: url("../images/A.png") no-repeat left bottom;
}

.container .container_you .you1s a {
    line-height: 45px;
    float: right;
}

.container .container_you .you1x {
    width: 734px;
    height: 191px;
    float: left;
}

.container .container_you .you1x img {
    width: 246px;
    height: 191px;
    float: left;
}

.container .container_you .you1x .nr {
    width: 440px;
    height: 191px;
    float: left;
    margin-left: 28px;
}

.container .container_you .you1x .nr p {
    font-size: 12px;
    color: #00325f;
    line-height: 18px;
    margin-top: 6px;
}

.container .container_you .you1x .nr p span {
    font-weight: bold;
}

/*---------右中间开始---------------------------------------------------------------------------------------------  */
.container .container_you .you2 {
    width: 734px;
    height: 387px;
    float: left;
    margin-top: 20px;
}

.container .container_you .you2 .you2s {
    width: 734px;
    height: 45px;
    float: left;
    border-bottom: 1px solid #005ea8;
    background: url("../images/icon_30.png") no-repeat left bottom;
}

.container .container_you .you2 .you2s a {
    line-height: 45px;
    float: right;
}

/*----------右下开始-----------------------------------------------------------------------------------------*/
.container .container_you .you2 .you2x {
    width: 734px;
    height: 342px;
    float: left;
    padding-top: 9px;
}

.container .container_you .you2 .you2x ul li {
    width: 160px;
    height: 146px;
    list-style: none;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 4px;
    background:#ebf1f6;
    float: left;
    margin-left: 14px;
    margin-top: 14px;
}

.container .container_you .you2 .you2x ul .wu {
    margin-left: 0;
}

.container .container_you .you2 .you2x ul li img {
    width: 160px;
    height: 115px;
    float: left;
}

.container .container_you .you2 .you2x ul li a {
    text-decoration: none;
    line-height: 27px;
    font-size: 12px;
    color: #00325f;
    float: left;
    /*  text-align: center;
      margin:0 auto;*/
}

/*---------右中结束*/
/*---------右下开始*/
.container .container_you .you3 {
    width: 701px;
    height: 237px;
    float: left;
    border: 1px solid #b0c6da;
    margin-top: 4px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
}

.container .container_you .you3 .you3znr {
    width: 327px;
    height: 240px;
    float: left;
}

.container .container_you .you3 .sm {
    width: 325px;
    height: 19px;
    float: left;
    background: #ddeffb;
    border: 1px solid #b7d2e3;
}

.container .container_you .you3 .sm h3 {
    font-size: 12px;
    font-weight: bold;
    color: #00325f;
    line-height: 21px;
    background: url("../images/icon 11.png") no-repeat left center;
    margin-left: 20px;
    padding-left: 20px;
}

.container .container_you .you3 .xm {
    width: 327px;
    height: 160px;
    margin-top: 23px;
    float: left;
    margin-bottom: 23px;
}

.container .container_you .you3 .xm ul li {
    list-style: none;
    background: url("../images/icon_69.gif") no-repeat left center;
    margin-left: 5px;
    padding-left: 16px;
    line-height: 20px;
}

.container .container_you .you3 .xm ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #00325f;
}

.container .container_you .you3 .xm ul li span {
    font-size: 12px;
    color: #00325f;
    float: right;
}
.container .container_you .you3 .you3ynr {
    width: 327px;
    height: 240px;
    float: left;
    margin-left:21px;
}
/*---------右下结束*/
/*右结束*/
/*中间结束*/
.footer {
    width: 100%;
    height: 77px;
    background: #e4f3ff;
    padding-top: 23px;
}
.footer p{
    font-size: 12px;
    color: #00325f;
    text-align: center;
    line-height: 20px;
}